@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    min-width: 240px;
    font-family: 'DM Sans', sans-serif;
    background-color: #ebf4ff;
}

.logo{
    width: 32px;
    height: 32px;
}
#root {
  min-width: 240px;
}
