@tailwind base;
@tailwind components;
@tailwind utilities;
@custom-variant dark (&:where(.dark, .dark *));

* {
  transition:
        background-color 0.4s ease,
        color 0.4s ease,
        border-color 0.4s ease,
        fill 0.4s ease,
        stroke 0.4s ease;
}
/* Ícone do date e time */
/* DARK MODE CALENDAR */
/* DARK MODE CALENDAR */
.dark .dark-calendar {
  background-color: #0E4194 !important;
  border: 1px solid #1e3a8a;
}

.dark .react-datepicker {
  background-color: #0E4194 !important;
  border: 1px solid #1e3a8a;
}

.dark .react-datepicker__header {
  background-color: #0E4194 !important;
  border-bottom: 1px solid #1e3a8a;
}

.dark .react-datepicker__current-month,
.dark .react-datepicker__day-name {
  color: white !important;
}

.dark .react-datepicker__day {
  color: white !important;
}

.dark .react-datepicker__day:hover {
  background-color: #1e3a8a !important;
}

.dark .react-datepicker__day--selected {
  background-color: #2756ac !important;
  color: white !important;
}

.dark .react-datepicker__day--keyboard-selected {
  background-color: #2756ac !important;
  color: white !important;
}
/* ===== TIME PICKER DARK MODE ===== */

.dark .custom-time-picker {
  background-color: #0E4194 !important;
  border: 1px solid #1e3a8a !important;
}

.dark .react-datepicker {
  background-color: #0E4194 !important;
  border: 1px solid #1e3a8a !important;
}

.dark .react-datepicker__header {
  background-color: #0E4194 !important;
  border-bottom: 1px solid #1e3a8a !important;
}

.dark .react-datepicker__time-container {
  background-color: #0E4194 !important;
}

.dark .react-datepicker__time-list {
  background-color: #0E4194 !important;
}

.dark .react-datepicker__time-list-item {
  color: white !important;
}

.dark .react-datepicker__time-list-item:hover {
  background-color: #1e3a8a !important;
}

.dark .react-datepicker__time-list-item--selected {
  background-color: #2756ac !important;
  color: white !important;
}
.theme-transition,

.theme-transition * {
  transition: background-color 0.5s ease,
              color 0.5s ease,
              border-color 0.5s ease !important;
}
html {
  scroll-behavior: smooth;
}

* {
  transition:
    background-color 0.4s ease,
    color 0.4s ease,
    border-color 0.4s ease,
    box-shadow 0.4s ease;
}
html {
  scroll-behavior: smooth;
}

body{
    min-width: 240px;
    font-family: 'DM Sans', sans-serif;
    color: #0E4194;
    background: radial-gradient(
    ellipse at top,
    #ffffff 0%,
    #e5efff 70%
    );

}

.logo{
    width: 32px;
    height: 32px;
}
#root {
  min-width: 240px;
}

.dark body {
  color: white;
  background: radial-gradient(
    ellipse at top,
    #0E4194 0%,
    #001537 70%
    );
}